* {
    text-decoration: none;
    margin: 0;
    font-family: Inter, 'Gill Sans';
    scroll-behavior: smooth;
}

// Colors
/* ---- DARK CLAIR ---- */
$background-color: #131522;
$main-color: #FFF;
$secondary-color: #666a86;
$third-color: #79499E;

/* ---- MODE CLAIR ---- */
// $background-color: #ffffff;
// $main-color: #1c1c3b;
// $secondary-color: #3f435e;
// $third-color: #ad7fd1;

$green-score: #57DD9D;
$orange-score: #DDC857;
$red-score: #DD7057;
$score-colors: (
    green: $green-score,
    orange: $orange-score,
    red:$red-score
);

$pink-halo-color: #97279b;
$blue-halo-color: #628ed1d1;
$yellow-halo-color: #947B3C;
$green-halo-color: #62943C;
$white-halo-color: #ffffffa2;

$halo-colors: (
    pink: $pink-halo-color,
    blue: $blue-halo-color,
    yellow: $yellow-halo-color,
    green: $green-halo-color,
    white: $white-halo-color
);

// Widths and Heights
$score-width: 6em;
$page-width: 1000px;

body {
    background-color: $background-color;
    color: $main-color;
    letter-spacing: 0.15em;
    text-align: justify;
    display: flex;
    flex-direction: column;
    row-gap: 75px;
    overflow-x: hidden;
    // align-items: center;

    // max-width: 1500px;
    p {
        font-weight: lighter;
        line-height: 150%;
    }

    h2 {
        margin-bottom: 1rem;
    }

    h3 {
        margin-bottom: 0.5rem;
    }
}


.halo {
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    z-index: -1;

    @each $color, $value in $halo-colors {
        &.#{"" + $color} {
            box-shadow: 0 0 300px 150px $value;
        }
    }
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5em;

    .logo.melody {
        align-items: center;
        display: flex;
        gap: 1em;

        img {
            background-color: #FFF;
            border-radius: 50%;
            height: 3em;
        }

        .text {
            text-transform: uppercase;

            .defi {
                font-weight: bold;
                letter-spacing: 0.6em;
                font-size: large;
            }

            .author {
                font-weight: lighter;
                font-size: small;
                letter-spacing: 0.2em;
            }
        }
    }

    .logo.centrale {
        img {
            height: 4em;

        }
    }
}

section {
    margin-top: 1em;
    padding-bottom: 2em;
}

section.accueil {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero-banner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 80vh;
        width: 100%;
        max-width: $page-width;

        .centrale-moto {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            text-transform: uppercase;
            font-weight: lighter;
            letter-spacing: 0.5em;
        }

        .main-hero {
            display: flex;
            justify-content: space-between;
            // align-items: center;
            width: 100%;

            .text-left {
                display: block;
                max-width: 510px;

                .title {
                    text-transform: uppercase;
                    font-weight: bolder;
                    font-size: 150px;
                    letter-spacing: 0.4em;
                }

            }

            .image {
                display: flex;
                justify-content: center;
                flex-direction: column;

                svg {
                    stroke: $main-color;
                    width: 400px;
                }
            }

        }

        .see-more {
            display: flex;
            justify-content: center;

            a {
                border-radius: 2em;
                padding: 1em;
                background-color: $third-color;
                color: $main-color;
                width: 10em;
                text-align: center;
                font-size: small;
            }
        }
    }
}


.halos {
    .header-halos {
        .hero1 {
            left: 50%;
            top: 500px
        }

        .hero2 {
            left: 70%;
            top: 600px;
        }

        .hero3 {
            left: 70%;
            top: 350px;
        }
    }

    .page-halos {
        .objectifs {
            left: -10%;
            top: 2050px;
        }

        .justification {
            left: 5%;
            top: 2350px;
        }

        .justification-left1 {
            right: -5%;
            top: 3250px;
        }

        .justification-left2 {
            right: 5%;
            top: 3550px;
        }

        .photos1 {
            left: -5%;
            top: 4000px;
        }

        .photos1bis {
            left: 5%;
            top: 4250px;
        }

        .score1 {
            right: -5%;
            top: 5100px;
        }

        .score2 {
            right: -10%;
            top: 5450px;
        }
        
        .bottom-scores{
            left: 0;
        }
    }
}


section.presentation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    section.generalites {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 3em;

        &::before {
            content: "";
            position: absolute;
            width: 0px;
            height: 100%;
            border-right: 2px dashed $secondary-color;
            left: -40px;
            top: 5px;

        }

        div.timeline-element {
            max-width: 450px;

            h2 {
                position: relative;
                text-transform: uppercase;
            }

            h2::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: $main-color;
                border-radius: 50%;
                left: -50px;
                top: 10%;
            }

            p {
                font-weight: lighter;
            }
        }
    }

    section.objectifs {
        max-width: $page-width;

        h2 {
            margin-bottom: 2rem;
        }

        p.presentation-defi {
            border-left: 5px solid $green-score;
            padding-left: 1.5rem;
            margin-bottom: 3rem;
        }

        div.detail-objectifs {
            margin-top: 2rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 2rem;
            column-gap: 7rem;
        }

        h3 {
            margin-bottom: 0.5rem;
        }
    }
}



section.justification {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    scroll-behavior: smooth;

    div.carousel {
        padding-top: 2rem;
        display: flex;
        column-gap: 3em;
        overflow-y: hidden;
        overflow-x: scroll;
        width: 100%;

        .card {
            display: flex;
            flex-direction: column;
            min-width: 800px;
            justify-content: center;
            background-color: rgba(132, 125, 208, 0.128);
            backdrop-filter: blur(50px);
            -webkit-backdrop-filter: blur(50px);
            border-radius: 2em;
            padding: 1em 2em;

            h3 {
                text-transform: uppercase;
                letter-spacing: 1em;
                font-weight: lighter;
                text-align: center;
                margin-bottom: 1em;
            }

            .content {
                display: flex;
                column-gap: 2em;

                h4 {
                    margin-bottom: 0.5em;
                }

                p {
                    font-size: small;
                }

                .image {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                }

                img {
                    border-radius: 1em;
                    object-fit: cover;
                    width: 175px;
                    height: 175px;
                }

            }

            &:first-child {
                margin-left: 350px;
            }

            &:last-child {
                margin-right: 500px;
            }
        }
    }

    .nav-buttons {
        margin-top: 1em;
        display: flex;
        justify-content: center;
        column-gap: 0.5em;

        span {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $secondary-color;

            &.active {
                background-color: $main-color;
            }
        }
    }
}

section.scores {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;

    section.kpi-scores {
        max-width: $page-width;

        .kpis {
            margin-top: 3em;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 4em;

            .kpi {
                display: flex;

                position: relative;

                .text {
                    position: absolute;
                    display: block;
                    width: 300px;

                    h3 {
                        text-transform: uppercase;
                    }

                    p {
                        font-size: small;
                    }
                }

                &:nth-child(odd) {
                    .text {
                        left: 175px;
                    }
                }

                &:nth-child(even) {
                    .text {
                        h3 {
                            text-align: right;
                        }

                        left: -(50px + 300px);
                    }
                }
            }
        }
    }
}


.score-div {
    width: $score-width;
    height: $score-width;
    border-radius: 50%;
    border: 15px solid $secondary-color;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    .score-text {
        display: inline;

        .score-title {
            color: $secondary-color;
            font-size: x-small;

        }

        .score-numerical {
            font-size: xx-large;
            font-weight: bold;
        }

        .score-percentage-sign {
            display: inline-block;
            color: $secondary-color
        }
    }
}

@each $color, $value in $score-colors {
    .#{"" + $color}-score {
        border-color: $value;
    }
}


// header{
//     display:none;
// }

// section.hero-banner{
//     display: none;
// }

// section.presentation{
//     display: none;
// }

// section.objectifs{
//     display: none;
// }


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: $secondary-color;

    .container {
        border-top: 1px solid $secondary-color;
        padding-top: 1rem;
        display: flex;
        column-gap: 5em;

        h4 {
            margin-bottom: 0.5rem;
            text-transform: uppercase;
        }

        a {
            color: $secondary-color;
            transition: 0.15s ease;

            &:hover {
                color: $main-color;
            }
        }

        ul {
            li {
                text-decoration: none;
                list-style: none;
                line-height: 1.75em;
            }
        }

        .contact {
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;

            .social-networks {
                display: flex;
                justify-content: space-evenly;
                margin-top: 1rem;

                a.logo {
                    height: 20px;
                    width: 20px;
                    // background-color: $secondary-color;
                    border-radius: 0.5em;
                }
            }
        }
    }
}

.container {
    max-width: $page-width;
    padding-inline: 2rem;
    justify-content: center;
    align-items: center;
    display: block;
}


section.deroule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    .container {
        max-width: $page-width;
        overflow-x: hidden;

        h2 {
            text-align: left;
        }

    }

    .frise-chronologique {
        margin-top: 2rem;
        display: flex;
        column-gap: 5rem;
        // border-bottom: 2px dashed $secondary-color;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 20px 0;
        width: 100%;
        min-width: 100%;
        scroll-snap-type: x mandatory;
        position: relative;
        ;

        &::after {
            content: "";
            position: absolute;
            width: 362%;
            height: 0;
            border-top: 2px dashed $secondary-color;
            bottom: 20px;

        }

        .card {
            width: 300px;
            min-width: 300px;
            position: relative;
            padding-bottom: 3rem;
            padding-left: 1rem;
            border-left: 1px solid $main-color;

            &::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: $main-color;
                border-radius: 50%;
                left: -(0.70rem);
                bottom: -10px;
                z-index: 2;
            }

            h4 {
                margin-bottom: 0.5em;
            }

            p {
                font-size: small;
                padding-bottom: 1em;
            }

            .date {
                position: absolute;
                left: -20px;
                top: -10px;
                // text-align: right;
                color: $secondary-color;
                transform-origin: bottom left;
                transform: rotate(90deg);
                font-size: x-small;
                font-weight: lighter;

            }

            .labels {
                margin-top: 1em;
                display: inline;

                span {
                    font-size: x-small;
                    padding: 0.2em 0.5em;
                    background-color: $secondary-color;
                    border-radius: 0.75em;
                    line-height: 2em;
                }
            }

            &:first-child {
                margin-left: calc((100% - $page-width)/2);
            }

            &:last-child {
                margin-right: calc((100% - $page-width)/2);
            }

        }
    }
}


.photos {
    display: flex;
    justify-content: center;

    .images {
        margin-top: 2em;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: 400px;
        gap: 2em;

        .image {
            position: relative;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .description {
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: rgba(31, 34, 48, 0.76);
                width: 100%;
                opacity: 0;
                transition: 0.3s ease;

                .image-title {
                    padding: 1em;
                }

                .image-description {
                    padding-inline: 1em;
                    margin-bottom: 1em;
                    font-weight: lighter;
                    font-size: small;

                    .credits-photo {
                        margin-top: 0.5rem;
                        text-align: right;
                        font-size: xx-small;
                    }
                }

            }

            &:hover {
                .description {
                    opacity: 1;
                }
            }
        }
    }
}

@media only screen and (max-width: 1050px) {
    body {
        .main-hero{
        display: flex;
        flex-direction: column;
        align-items: center;

        .image{
            padding-block: 2em;
        }
      }
    }
  }